<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Item</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col nav justify-content-end">
          <a href="/dashboard" class="nav-link">Home</a>
          <a href="/logout" class="nav-link">Logout</a>
        </div>
      </div>
      <div class="row">
        <h1 >{{item.item}}</h1>
      </div>
      <div class="row">
        <div class="col">
          <p>Users who addded this product/item under their wish list</p>
          {% for user in item.users.all %}
          <p>{{user.name}}</p>
          {% endfor %}
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
